:root {
  /* Primary */
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  /* Font-family */
  --montserrat: 'Montserrat', sans-serif;
  --fraunces: 'Fraunces', serif;

  /* Active States */
  --primary-hover: hsl(158, 42%, 25%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding: 1em;
  min-height: 100vh;
  background-color: var(--cream);
  display: grid;
  place-items: center;
  font-family: var(--montserrat);
  color: var(--dark-grayish-blue);
  font-weight: 500;
}

img {
  width: 100%;
}

h1 {
  font-family: var(--fraunces);
  color: var(--very-dark-blue);
  font-size: 1.9em;
  line-height: 1em;
  margin-bottom: 0.8em;
}

del {
  font-family: var(--montserrat);
  font-size: 0.4em;
  color: var(--dark-grayish-blue);
  align-self: center;
}

.product__card {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  font-family: var(--montserrat);
  margin: 20px;
}

.product__info {
  padding: 1.6em;
}

.product__tag {
  letter-spacing: 5px;
  margin-bottom: 0.8em;
  font-variant: small-caps;
}

.product__description {
  margin-bottom: 1em;
}

.product__description > span {
  text-transform: uppercase;
}

.product__price {
  display: flex;
  gap: 10px;
  font-size: 1.7em;
  font-family: var(--fraunces);
  color: var(--dark-cyan);
  margin-bottom: 1rem;
}

.product__cta {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: none;
  font-size: 1rem;
  background-color: var(--dark-cyan);
  color: white;
  font-family: inherit;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product__cta:hover {
  background-color: var(--primary-hover);
}

@media screen and (min-width: 600px) {
  h1 {
    margin: 0.7em 0;
  }

  .product__card {
    font-size: 18px;
    min-width: min-content;
    max-width: 34em;
    flex-direction: row;
  }

  .product__img {
    display: flex;
    width: 50%;
    flex-shrink: 0;
  }

  .product__description {
    font-size: 0.8em;
    line-height: 1.6em;
  }

  .product__price {
    margin: 0.9em 0;
  }
}
